// rsa.rc - Resources for RSA Encryption
// ObjectWindows - (C) Copyright 1992 by Borland International

#include <windows.h>
#include <owlrc.h>
#include "rsadispa.h"

#include "inputdia.dlg"
#include "filedial.dlg"

#define RSAICON		510

RSAICON ICON rsa.ico


COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MenuItem  "&Exit", CM_FILEEXIT
  END

  POPUP "&RSA"
  BEGIN
    MenuItem  "&Generate Keys", CM_RSAGENERATEKEYS
    MenuItem  "&Encrypt", CM_RSAENCRYPT
    MenuItem  "&Decrypt", CM_RSADECRYPT
  END

  POPUP "&UU"
  BEGIN
    MenuItem  "&Encode", CM_UUENCODE
    MenuItem  "&Decode", CM_UUDECODE
  END

  MenuItem  "&About", CM_HELPABOUT
END


GENKEYSDIAL DIALOG 14, -94, 142, 113
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Generate Keys"
BEGIN
	LTEXT "Public Key Filename:", -1, 11, 8, 79, 8
	PUSHBUTTON "Browse...", ID_BROWSEPUB, 88, 5, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	EDITTEXT ID_PUBFILE, 10, 23, 114, 12
	LTEXT "Private Key Filename:", -1, 11, 42, 73, 10
	PUSHBUTTON "Browse...", ID_BROWSEPRIV, 88, 39, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	EDITTEXT ID_PRIVFILE, 10, 57, 114, 12
	LTEXT "Key Size (bytes)", -1, 10, 74, 56, 8
	EDITTEXT ID_KEYSIZE, 68, 74, 16, 12
	DEFPUSHBUTTON "OK", IDOK, 27, 95, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 83, 95, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


ENCRDIAL DIALOG 14, -110, 165, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Encrypt"
BEGIN
	LTEXT "Public Key Filename:", -1, 11, 8, 79, 10
	PUSHBUTTON "Browse...", ID_BROWSEKEYS, 120, 6, 37, 14
	EDITTEXT ID_KEYFILE, 10, 23, 150, 12
	LTEXT "Source Filename:", -1, 11, 42, 73, 10
	PUSHBUTTON "Browse...", ID_BROWSESRC, 120, 40, 37, 14
	EDITTEXT ID_SRCFILE, 10, 57, 150, 12
	LTEXT "Destination Filename:", -1, 11, 75, 74, 10
	PUSHBUTTON "Browse...", ID_BROWSEDEST, 120, 74, 37, 14
	EDITTEXT ID_DESTFILE, 10, 91, 150, 12
	DEFPUSHBUTTON "OK", IDOK, 30, 115, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 103, 115, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


DECRDIAL DIALOG 14, -110, 165, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Decrypt"
BEGIN
	LTEXT "Private Key Filename:", -1, 11, 8, 79, 10
	PUSHBUTTON "Browse...", ID_BROWSEKEYS, 120, 6, 37, 14
	EDITTEXT ID_KEYFILE, 10, 23, 150, 12
	LTEXT "Source Filename:", -1, 11, 42, 73, 10
	PUSHBUTTON "Browse...", ID_BROWSESRC, 120, 40, 37, 14
	EDITTEXT ID_SRCFILE, 10, 57, 150, 12
	LTEXT "Destination Filename:", -1, 11, 75, 74, 10
	PUSHBUTTON "Browse...", ID_BROWSEDEST, 120, 74, 37, 14
	EDITTEXT ID_DESTFILE, 10, 91, 150, 12
	DEFPUSHBUTTON "OK", IDOK, 30, 115, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 103, 115, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


UUENCDIAL DIALOG 20, -104, 165, 121
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "UUEncode"
BEGIN
	LTEXT "Source Filename:", -1, 12, 7, 73, 10
	PUSHBUTTON "Browse...", ID_BROWSESRC, 118, 5, 39, 14
	EDITTEXT ID_SRCFILE, 10, 23, 149, 12
	LTEXT "Base Destination Filename:", -1, 12, 42, 98, 11
	PUSHBUTTON "Browse...", ID_BROWSEDEST, 119, 40, 38, 14
	EDITTEXT ID_DESTFILE, 10, 57, 148, 12
	LTEXT "Lines per Dest. File:", -1, 34, 77, 71, 10
	EDITTEXT ID_LINESPERFILE, 110, 75, 27, 13
	DEFPUSHBUTTON "OK", IDOK, 31, 102, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 103, 102, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


UUDECDIAL DIALOG 20, -104, 165, 75
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "UUDecode"
BEGIN
	LTEXT "Source Filename:", -1, 12, 7, 73, 10
	PUSHBUTTON "Browse...", ID_BROWSESRC, 118, 5, 39, 14
	EDITTEXT ID_SRCFILE, 10, 23, 149, 12
	DEFPUSHBUTTON "OK", IDOK, 37, 52, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 103, 52, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


PROGMONDLG DIALOG 18, 18, 142, 45
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Progress Monitor"
BEGIN
	CTEXT "Working...", ID_PROGRESSMSG, 11, 9, 121, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "Cancel", IDCANCEL, 57, 26, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


ABOUTDIAL DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About RSA"
BEGIN
	CTEXT "RSA Encryption Version 0.1", -1, 28, 5, 95, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "(C) Copyright 1994", -1, 42, 45, 60, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Tom Weatherhead", -1, 33, 57, 81, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON RSAICON, -1, 62, 22, 16, 16
	DEFPUSHBUTTON "OK", IDOK, 61, 71, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


// **** End of rsa.rc ****
